
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131212;
    color: #181616;
  }
  
  h1 {
    color: #e5eaee;
  }
  
  /* Header */
  .header {
    background: #b0b0b5;
    color: #050505;
    text-align: center;
    padding: 20px 0;
  }
  
  .header p {
    font-size: 2.0rem;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: center;
    background: #333;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 15px 15px;
    text-align: center;
  }
  
  .navbar a:hover {
    background: #788484;
  }
  
  /* Product Section */
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }
  
  .product-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-item img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .product-item h2 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .product-item p {
    font-size: 1rem;
    color: #1c1c1d;
  }
  
  .product-item button {
    background: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-item button:hover {
    background: #003d80;
  }
  
  /* Footer */
  .footer {
    text-align: center;
    padding: 10px;
    background: #d5dfe4;
    color: #433f3f;
  }